appdirs==1.4.4
certifi==2020.4.5.1
click==7.1.2
colorama==0.4.3
demjson==2.2.4
distlib==0.3.0
filelock==3.0.12
Flask==1.1.2
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysql-connector==2.2.9
pipenv==2022.1.8
qrcode==6.1
six==1.14.0
uuid==1.30
virtualenv==20.0.21
virtualenv-clone==0.5.4
Werkzeug==1.0.1
zipp==3.1.0
